
                <div class="page-table">
                    <table id="data-table" class="table table-condensed table-striped manager-table">
                        <thead class="bg-muted">
                            <tr>
                                <th width="10%">Image</th>
                                <th width="15%">Ttitle</th>
                                <th width="40%">Description</th>
                                <th>Category</th>
                                <th>Pub Date</th>
                                <th>Author</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="demo/img/profile-pics/1.jpg" class="bg-default img-circle" alt="">
                                </td>
                                <td>
                                    <div class="bold">Jeannette Lawson</div>
                                </td>
                                <td>
                                   Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis
                                   Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis
                                </td>
                                <td>
                                    <label class="label label-primary">Technology</label>
                                </td>
                                <td>2011/04/25</td>
                                <td>Kaos Chuks</td>
                                <td>
                                    <button class="btn btn-link no-padding m-r-15 text-black"><i class="fs-16 zmdi zmdi-edit"></i></button>
                                    <button class="btn btn-link no-padding text-black"><i class="fs-16 zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>