<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="row">
            <div class="col-md-4">
                <div>
                    <button type="button" class="btn btn-success waves-effect waves-light mb-3"><i class="mdi mdi-plus mr-1"></i> Add Invoice</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="float-right">
                    <div class="form-inline mb-3">
                        <div class="input-daterange input-group" data-provide="datepicker" data-date-format="dd M, yyyy" data-date-autoclose="true">
                            <input type="text" class="form-control text-left" placeholder="From" name="From">
                            <input type="text" class="form-control text-left" placeholder="To" name="To">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary"><i class="mdi mdi-filter-variant"></i></button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

            <div class="table-responsive custom-table mb-4">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <!-- <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select
                                        name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                        class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input
                                        type="search" class="form-control form-control-sm" placeholder=""
                                        aria-controls="DataTables_Table_0"></label></div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table
                                class="table table-centered datatable dt-responsive nowrap table-card-list table-check dataTable no-footer dtr-inline"
                                style="border-collapse: collapse; border-spacing: 0px 8px; width: 100%;"
                                id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr class="bg-transparent" role="row">
                                        <th style="width: 24px;" class="sorting_disabled" rowspan="1" colspan="1"
                                            aria-label="
                                
                                    
                                    
                                
                            ">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkAll">
                                                <label class="custom-control-label" for="checkAll"></label>
                                            </div>
                                        </th>
                                        <th style="width: 120px;" class="sorting_asc" tabindex="0"
                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Customer ID: activate to sort column descending">Customer ID
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1" style="width: 148px;"
                                            aria-label="Customer: activate to sort column ascending">Customer</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1" style="width: 226px;"
                                            aria-label="Email / Phone: activate to sort column ascending">Email / Phone
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1" style="width: 279px;"
                                            aria-label="Location: activate to sort column ascending">Location</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1" style="width: 85px;"
                                            aria-label="Join Date: activate to sort column ascending">Join Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1" style="width: 64px;"
                                            aria-label="Status: activate to sort column ascending">Status</th>
                                        <th style="width: 120px;" class="sorting" tabindex="0"
                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            aria-label="Action: activate to sort column ascending">Action</th>
                                    </tr>
                                </thead>
                                <tbody>













                                    <tr role="row" class="odd">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="customercheck12">
                                                <label class="custom-control-label" for="customercheck12"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0101</a> </td>
                                        <td>
                                            <img src="assets/images/users/avatar-8.jpg" alt=""
                                                class="avatar-xs rounded-circle mr-2">
                                            <span>Crissy Holland</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">CrissyHolland@armyspy.com</p>
                                            <p class="mb-0">937-622-7058</p>
                                        </td>

                                        <td>Retreat Avenue Sedgwick, ME 04676</td>

                                        <td>
                                            01 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-danger font-size-12">Deactive</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="customercheck11">
                                                <label class="custom-control-label" for="customercheck11"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0102</a> </td>
                                        <td>
                                            <div class="avatar-xs d-inline-block mr-2">
                                                <span class="avatar-title rounded-circle bg-light text-body">
                                                    T
                                                </span>
                                            </div>
                                            <span>Terry Brown</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">TerryBrown@dayrep.com</p>
                                            <p class="mb-0">618-595-9331</p>
                                        </td>

                                        <td>Maple Street Los Angeles, CA 90017</td>

                                        <td>
                                            02 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-success font-size-12">Active</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="customercheck10">
                                                <label class="custom-control-label" for="customercheck10"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0103</a> </td>
                                        <td>
                                            <div class="avatar-xs d-inline-block mr-2">
                                                <span class="avatar-title rounded-circle bg-light text-body">
                                                    A
                                                </span>
                                            </div>
                                            <span>Amy McDonald</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">AmyMcDonald@jourrapide.com</p>
                                            <p class="mb-0">330-929-6694</p>
                                        </td>

                                        <td>Bubby Drive Austin, TX 78704</td>

                                        <td>
                                            03 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-success font-size-12">Active</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customercheck9">
                                                <label class="custom-control-label" for="customercheck9"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0104</a> </td>
                                        <td>
                                            <img src="assets/images/users/avatar-7.jpg" alt=""
                                                class="avatar-xs rounded-circle mr-2">
                                            <span>Stacy Webster</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">StacyWebster@armyspy.com</p>
                                            <p class="mb-0">208-806-5287</p>
                                        </td>

                                        <td>Virgil Street Tallahassee, FL 32311</td>

                                        <td>
                                            04 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-danger font-size-12">Deactive</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customercheck8">
                                                <label class="custom-control-label" for="customercheck8"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0105</a> </td>
                                        <td>
                                            <img src="assets/images/users/avatar-6.jpg" alt=""
                                                class="avatar-xs rounded-circle mr-2">
                                            <span>Edward King</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">EdwardKing@teleworm.us</p>
                                            <p class="mb-0">413-717-8335</p>
                                        </td>

                                        <td>Chapel Street Katy, TX 77494</td>

                                        <td>
                                            05 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-success font-size-12">Active</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customercheck7">
                                                <label class="custom-control-label" for="customercheck7"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0106</a> </td>
                                        <td>
                                            <div class="avatar-xs d-inline-block mr-2">
                                                <span class="avatar-title rounded-circle bg-light text-body">
                                                    J
                                                </span>
                                            </div>
                                            <span>Jessie Jacobs</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">JessieJacobs@teleworm.us</p>
                                            <p class="mb-0">561-350-6087</p>
                                        </td>

                                        <td>Aviation Way Los Angeles, CA 90071</td>

                                        <td>
                                            06 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-success font-size-12">Active</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customercheck6">
                                                <label class="custom-control-label" for="customercheck6"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0107</a> </td>
                                        <td>
                                            <img src="assets/images/users/avatar-5.jpg" alt=""
                                                class="avatar-xs rounded-circle mr-2">
                                            <span>Muriel Myers</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">MurielMyers@rhyta.com</p>
                                            <p class="mb-0">412-517-0033</p>
                                        </td>

                                        <td>Leisure Lane Goleta, CA 93117</td>

                                        <td>
                                            07 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-danger font-size-12">Deactive</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customercheck5">
                                                <label class="custom-control-label" for="customercheck5"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0108</a> </td>
                                        <td>
                                            <div class="avatar-xs d-inline-block mr-2">
                                                <span class="avatar-title rounded-circle bg-light text-body">
                                                    S
                                                </span>
                                            </div>
                                            <span>Sam Perry</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">SamPerry@rhyta.com</p>
                                            <p class="mb-0">812-775-1427</p>
                                        </td>

                                        <td>Willow Oaks Lane Lafayette, LA 70501</td>

                                        <td>
                                            08 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-success font-size-12">Active</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customercheck4">
                                                <label class="custom-control-label" for="customercheck4"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0109</a> </td>
                                        <td>
                                            <img src="assets/images/users/avatar-4.jpg" alt=""
                                                class="avatar-xs rounded-circle mr-2">
                                            <span>Mary Frazier</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">MaryFrazier@armyspy.com</p>
                                            <p class="mb-0">262-752-8060</p>
                                        </td>

                                        <td>Watson Street Pleasantville, NJ 08232</td>

                                        <td>
                                            09 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-danger font-size-12">Deactive</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="dtr-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customercheck3">
                                                <label class="custom-control-label" for="customercheck3"></label>
                                            </div>
                                        </td>

                                        <td class="sorting_1"><a href="javascript: void(0);"
                                                class="text-dark font-weight-bold">#DZ0110</a> </td>
                                        <td>
                                            <img src="assets/images/users/avatar-3.jpg" alt=""
                                                class="avatar-xs rounded-circle mr-2">
                                            <span>Thomas Hankins</span>
                                        </td>
                                        <td>
                                            <p class="mb-1">ThomasHankins@dayrep.com</p>
                                            <p class="mb-0">410-236-6583</p>
                                        </td>

                                        <td>Quarry Drive Ariton, AL 36311</td>

                                        <td>
                                            10 Oct, 2020
                                        </td>
                                        <td>
                                            <div class="badge badge-soft-success font-size-12">Active</div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"
                                                data-toggle="tooltip" data-placement="top" title=""
                                                data-original-title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Delete"><i
                                                    class="uil uil-trash font-size-18"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 12 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination pagination-rounded">
                                    <li class="paginate_button page-item previous disabled"
                                        id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0"
                                            data-dt-idx="0" tabindex="0" class="page-link"><i
                                                class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="paginate_button page-item active"><a href="#"
                                            aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                            class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#"
                                            aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"
                                            class="page-link">2</a></li>
                                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#"
                                            aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0"
                                            class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>